/****** Reset ******/
* {
  box-sizing: border-box;
}

body,
figure {
  margin: 0;
}

/****** Variables ******/
/****** Topography ******/
html {
  font-size: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: calc(1.5rem + .6vw);
}

h2 {
  font-size: calc(1.3rem + .6vw);
}

h3 {
  font-size: calc(1.17rem + .6vw);
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

section, p {
  font-size: calc(1em + .2vw);
  line-height: 1.5em;
}

button {
  font-size: calc(1em + .1vw);
}

@media screen and (min-width: 1800px) {
  h3 {
    font-size: 28px;
  }

  p {
    font-size: 24px;
  }
}
/****** Topography ******/
header {
  font-size: calc(1em + .2vw);
}
header h1 {
  margin-bottom: 0.2em;
}

nav#main-nav a {
  white-space: nowrap;
  padding: 16px 8px;
}

nav#main-nav a:hover {
  color: teal;
}

section a {
  color: #4c6267;
}
section a:hover {
  color: teal;
}

p a {
  color: grey;
}

section#intro h1 {
  font-weight: 500;
  line-height: 1.3em;
  max-width: 50ch;
}

/****** General ******/
.the-fold > header {
  padding: 3rem 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.the-fold > header img {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 1800px) {
  .the-fold > header {
    padding: 3rem 15vw 0 15vw;
  }
}

section {
  padding: 3rem 5vw;
}
section:nth-of-type(2n+3) {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}
section:nth-of-type(even) {
  background: #42b1be4d;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1800px) {
  section {
    padding: 3rem 15vw;
  }
}

nav#main-nav {
  display: inline;
  align-self: flex-end;
  margin-top: 20px;
}
nav#main-nav a {
  padding: 16px 16px 16px 0;
}

body > section {
  padding: 3rem 5vw;
  min-height: 80vh;
}

section#intro {
  display: flex;
  flex: 1;
  align-items: center;
}
section#intro span {
  color: #28b8ba;
}
section#intro a {
  color: #28b8ba;
}

section#merken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
section#merken header {
  margin-bottom: 2em;
}
section#merken header h2 {
  text-align: center;
  margin: 0;
}

div.gallery {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
div.gallery article {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
}
div.gallery article > * {
  width: 100%;
}
div.gallery article :nth-child(n+2) {
  padding: 0 2rem;
}
div.gallery article figure.img-holder img {
  width: 100%;
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}
div.gallery article p {
  margin: 0;
  flex-grow: 1;
}
div.gallery article .cta {
  margin: 2rem;
  grid-column: 1/-1;
  border: none;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
  background: linear-gradient(100deg, #06beb6 0%, #48b1bf 100%);
  color: white;
  padding: 16px 24px;
}
div.gallery article .cta:hover {
  background-color: #ce8424;
}
@media screen and (max-width: 600px) {
  div.gallery article .cta {
    width: 100%;
    margin: 2rem 0 0 0;
  }
}

/****** Responsive ******/
@media only screen and (min-width: 975px) {
  .the-fold {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=style.css.map */
