/****** Reset ******/

*{ box-sizing: border-box }
body{ margin: 0;}

/****** Variables ******/

$gap: 20px;
$br:  6px;  //border-radius

/****** Topography ******/

h1, h2, h3, h4, h5, h6{
  margin: 0.6em 0;
}

/****** General ******/

.the-fold > * {
    padding: 0 5vw;
    // border-bottom: 1px solid grey;
}

header h1{
  margin-bottom: .2em;
}

section img{
  max-width: 100%;
}

section#merken{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #bfd8d6;
}

div.gallery{ 
  flex-grow: 1;
  margin: $gap 0;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: 1fr auto;
  
  article{
    display: flex;
    flex-direction: column;
    
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.16);
    border-radius: 6px;

    & > *{
      width: 100%;
    }
     
    & :nth-child(n+2) {
      padding: 0 $gap;
    }
    .img-holder{
      height: 100%;
      max-height: 25vh;
      padding:8px; 
      background:purple;
    }
    img{
      border-radius: $br $br 0 0;
      padding: 0;
      object-fit: cover;
    }
    .cta{
      margin: 0 0 $gap 0;
      grid-column: 1 /-1;
    }
  }
}

/****** Responsive ******/
.the-fold{
  height: 100vh;
  display:grid;
}
// @media only screen and (max-height:380px){
//   section#merken article{  
//     p{  display: none;  }
//   }
// }

@media only screen and (max-height:600px){
  section#merken{
    article{
      display: grid;
      grid-template-columns: 80px  1fr;
      grid-template-rows:    80px  1fr;
      div{
        img{
          width:100px;
          height: 100%;
          object-fit: cover;
          border-radius: $br 0 0 $br;
        }
      }
      p{
        grid-column:1/-1;
        // display: none;
      }

    }
  }
}

// @media only screen and (max-height:580px) and (min-width:900px){
//   .the-fold{ 
//     grid-template-columns: min-content 1fr; 
//   }
//   section#merken{
//     grid-column-start: 2;
//     grid-row: 1/-1;
//   }
// }

@media only screen and (min-width:600px){
  .the-fold{ 
    grid-template-rows: auto auto auto minmax(0, 1fr);
  }
}
