/****** Reset ******/

*{ box-sizing: border-box }
body,
figure { margin: 0;}

/****** Variables ******/

$gap:   2rem;                           //margin/padding
$br:    6px;                            //border-radius
$shad:  0 10px 20px rgba(0,0,0,0.16); //box-shadow

/****** Topography ******/

h1, h2, h3, h4, h5, h6{
  // margin: 0.6em 0;
  // margin-top: 0;
  margin: 0;

}

h1{
  font-size: calc(1.5rem + .8vw);
}

h2{
  font-size: calc(1.3rem + .8vw);
  // font-weight: 500;
  color: #32674e;
}

h3{
  font-size: calc(1.17rem + .8vw);
  margin: 1em 0;
}

header{
  font-size: calc(1em + .2vw);
  h1{
    margin-bottom: .2em;
  }  
}

nav#main-nav{
  
  a{
    white-space: nowrap;
    padding: 16px 8px;
  }
}

a{
  color: inherit;
  text-decoration: inherit;
}

nav#main-nav a:hover{
  color: teal;
}

section a{
  color: #4c6267;

  &:hover{
    color: teal;
  }
}

p a{
  color:grey;
}

section#intro{
  h1{
    font-weight: 500;
    line-height: 1.3em;
    max-width: 50ch;
  }
}

p{
  font-size: calc(1em + .3vw); 
}
button{
  font-size: calc(1em + .1vw);
  text-transform: uppercase;
}


/****** General ******/

.the-fold > section,
body > section {
    padding: 3rem 5vw;

    &:nth-of-type(2n+3){
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    }
     
    &:nth-of-type(even){
      background: #bfd8d6;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
}

.the-fold>header{
  padding: 3rem 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img{
    display: block;
    margin-bottom: 10px;
  }

}

nav#main-nav{
  display: inline;
  align-self: flex-end;
  margin-top: 20px;

  a{
    padding: 16px 16px 16px 0;
  }
}

body > section{
  padding: 3rem 5vw;
  min-height: 80vh;
}



section#merken{
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  header{
    margin-bottom: 2em;
    h2{ 
      text-align: center;
      margin: 0;
    }
  }
}

div.gallery{ 
  flex-grow: 1;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  // grid-template-rows: 1fr auto;
  
  article{
    display: flex;
    flex-direction: column;
    
    background: #fff;
    box-shadow: $shad;
    border-radius: $br;

    & > *{
      width: 100%;
    }
     
    & :nth-child(n+2) {
      padding: 0 $gap;
    }
    figure.img-holder{
      img{
        width: 100%;
        max-width: 100%;
        border-radius: $br $br 0 0;
      }
    }
    p{
      margin-top: 0;
      flex-grow: 1;
    }
    .cta{
      margin: 0 0 $gap 0;
      grid-column: 1 /-1;

      border: none;
      border-radius: 2px;
      width: fit-content;
      align-self: center;
      background: #e9c64f;
      color: white;
      font-weight: 600;
      padding: 16px;

      &:hover{
        background-color: #ce8424;
      }
    }
    @media screen and (max-width:600px) {
      .cta{
        width: 100%;
        margin:0;
      }
    }
  }
}

/****** Responsive ******/

// @media only screen and (max-height:380px){
//   section#merken article{  
//     p{  display: none;  }
//   }
// }

// @media only screen and (max-height:600px){
//   section#merken{
//     article{
//       display: grid;
//       grid-template-columns: 80px  1fr;
//       grid-template-rows:    80px  1fr;
//       div{
//         img{
//           width:100px;
//           height: 100%;
//           object-fit: cover;
//           border-radius: $br 0 0 $br;
//         }
//       }
//       p{
//         grid-column:1/-1;
//         // display: none;
//       }

//     }
//   }
// }

// @media only screen and (max-height:580px) and (min-width:900px){
//   .the-fold{ 
//     grid-template-columns: min-content 1fr; 
//   }
//   section#merken{
//     grid-column-start: 2;
//     grid-row: 1/-1;
//   }
// }
// @media only screen and (min-width:500px){

//   .the-fold{
//     display: grid;
//     grid-template: 
//       "header mav"
//       "intro  intro"
//       "merken merken"
//       /1fr    1fr;

//       &>header{ grid-area: header;}
//       &>#intro{ grid-area: intro;}
//       &>#merken{ grid-area: merken;}
//   }
// }

@media only screen and (min-width:975px){
  
  .the-fold{ 
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    // grid-template-rows: auto auto auto minmax(0, 1fr);
  }
}
